::selection, ::-moz-selection {
	background: #434c5e; /* nord2 */
}

::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
}

#app {
	background: #2e3440;
	/*border-radius: 12px;*/
}

#toolbar {
	-webkit-app-region: drag;
	background: #3b4252; /* nord1 */
	position: fixed;
	top: 0;
	width: 100%;
	padding: 4px;
}

#toolbar #title {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Inconsolata', monospace;
	color: #eceff4;
}

#toolbar .btn {
	-webkit-app-region: no-drag;
	float: left;
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	margin: 2px;
}

#toolbar .btn:hover {
	opacity: 0.6;
}

#close {
	background: #bf616a;
}

#max {
	background: #ebcb8b;
}

#min {
	background: #a3be8c;
}

a {
	color: #81a1c1; /* nord9 */
}

.terminal {
	font-family: 'Inconsolata', monospace;
	color: #eceff4; /* nord6 */
	-webkit-font-smoothing: none;
	word-wrap: break-word;
	white-space: pre-wrap;
	line-height: 1.2em;
	margin-top: 26px;
	padding: 4px;
}

.inputline {
	position: absolute;
	left: -9999px;
	top: -9999px;
	width: 0px;
	height: 0;
	overflow: hidden;
	padding: 0;
	opacity: 0;
}

.blinken {
	width: 0.1em;
	height: 1.1em;
	line-height: 1.2em;
	background: #d8dee9; /* nord4 */
	position: absolute;
	animation: flash 1s infinite;
}

.light {
	font-weight: 300;
}

.bold {
	font-weight: 700;
}

.extrabold {
	font-weight: 800;
}

.red {
	color: #bf616a;
}

.orange {
	color: #d08770;
}

.yellow {
	color: #ebcb8b;
}

.green {
	color: #a3be8c;
}

.lightblue {
	color: #88c0d0;
}

.blue {
	color: #81a1c1;
}

.darkblue {
	color: #5e81ac;
}

.violet {
	color: #b48ead;
}

@keyframes flash {
	0% {
		visibility: visible;
	}
	49% {
		visibility: visible;
	}
	50% {
		visibility: hidden;
	}
	99% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}